@font-face {
  font-family: "UbuntuBold";
  src: url("./Ubuntu-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "UbuntuMedium";
  src: url("./Ubuntu-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "UbuntuRegular";
  src: local("UbuntuRegular") url("./Ubuntu-Regular.ttf") format("ttf");
}
